* {
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: "Raleway", sans-serif;
}

header {
  font-size: 1.4rem;
  padding: 2rem;
  background-color: #18244a;
}

nav {
  text-align: center;
  color: #ffffff;
  letter-spacing: 2px;
}

/* HERO SECTION */
.hero-section {
  background: linear-gradient(#5b6789, #8dafcd);
  height: 50vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.hero-metric {
  font-size: 1.8rem;
}
.hero-number {
  font-size: 10rem;
}

/* INFO SECTION */
.info-section {
  height: 50vh;
  background-color: #2b365a;
  color: #ffffff;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  /* justify-content: space-evenly; */
}

.unit {
  background-color: rgb(221, 123, 215);
  text-align: center;
  padding: 2rem;
  margin: 2rem 0;

  border-radius: 5px;
  text-shadow: 0 0 3.7px #222222;
  letter-spacing: 1px;
}
.unit h3 {
  margin-bottom: 0.5rem;
}
